@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px 250px 0px 250px;
    background: #ffffff;   
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px 0px;
    background: #1f2937; 
    color: #f9faf8;
    padding-bottom: 30px;
}

.logo {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


.links {    
    display: flex;
    gap: 25px;
    font-family: Roboto, sans-serif;    
    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style-type: none; 
}

h1,p {
    margin: 0px;
}

.web-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 80px 200px 80px;
   background: #1f2937; 
   color: #f9faf8;
   gap:  90px;
   box-shadow: 0 4px 18px rgb(0,0,0,0.3);
}

.left-title {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    width: 380px;
    margin-bottom: 8px;
}

span {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}



html {
    background: rgb(22, 22, 22);
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;       
}

.images {
    display: flex;      
    gap: 25px;    
}

ul {
    padding: 0px;
    margin: 0px;
}

button {    
    background: #3882f6;
    color: #f9faf8;
    font-family: Roboto, sans-serif;
    font-size: 20px;    
    padding: 8px 13px 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;    
}


#button-bottom-1 {
    border: none;
    border-radius: 12px; 
}


#button-bottom-2 {
    border: 2px solid #e5e7eb;
    border-radius: 12px; 
    padding: 0px 60px 0px;
}

img {
    box-shadow: 0 0 18px rgb(0,0,0,0.5);
    border-radius: 12px;
    height: 130px;
    width: auto;
}


h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    font-family: Roboto, sans-serif;
    margin: 50px 0px 50px;
}

p {
    font-family: Roboto, sans-serif;
}

.quotes {
    background: #e5e7eb;
    font-family: Roboto, sans-serif;
    font-style: italic;
    padding: 130px 350px 130px;
    font-size: 36px;
    color: #1f2937;
}

#qt {
    text-align: right;
    color: #1b6ee2;
    font-size: 23px;
    padding-left: 180px;
}

.bottom-button {
    background: #3882f6;
    margin:  100px 200px 100px;
    padding: 50px 100px 50px;
    display: flex;
    justify-content: space-between;
}

.action-time {
    color: #e5e7eb;
    font-family: Roboto, sans-serif;
}

.action-time-title {
    font-size: 23px;
    font-weight: bold;
}

.action-time-time {
    font-size: 13px;
}

.footer {
    text-align: center;
    background: #1f2937; 
    color: #f9faf8;
    font-size: 19px;
    font-family: Roboto, sans-serif;
    padding: 40px 0px 40px;
}

#wasd {
    box-shadow: 0 0 18px rgb(0,0,0,0.5);
    border-radius: 12px;
    height: 430px;
    width: auto; 
}